<div class=" m-auto text-center" style="background-color: #1ABC9C; color: white;">
    <div class="home p-5" >
        <img src="./assets/images/avataaars.svg" class="w-100" style="height: 300px;" alt="">
        <h2 class="pt-4" style="font-size: 40px;">
            START FRAMEWORK
        </h2>
        <div class="ico" style="position: relative;">
            <i class="fa-solid fa-star"></i>
        <div class="line ms-3" style="background-color: white;">.</div>
        </div>
        <p class="pt-3">
            Graphic Artist - Web Designer - Illustrator
        </p>
    </div>
</div>